.mainNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: white;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}
.logo-container {
  flex: 0.2;
  margin-left: 2rem;
}
.logo-container p {
  font-size: 1.2rem;
  font-weight: bold;
  background: -webkit-linear-gradient(
    rgb(236, 185, 133),
    rgba(141, 6, 141, 0.589)
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.025rem;
}
.search-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.4;
  background-color: rgb(245, 237, 245);
  box-shadow: -0.5px 1px 3px purple, 0.5px -1px 6px peru;
  padding: 0.312rem;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
}
.search-icon {
  width: 1.25rem;
  height: 1.25rem;
}
.search-input {
  width: 100%;
  border: none;
  background-color: rgba(245, 232, 218, 0.692);
  padding: 0.3rem;
  border-radius: 0.65rem;
  -webkit-border-radius: 0.65rem;
  -moz-border-radius: 0.65rem;
  -ms-border-radius: 0.65rem;
  -o-border-radius: 0.65rem;
}
.icons-container {
  display: flex;
  align-items: center;
  flex: 0.2;
}
.notifications-icon,
.messages-icon {
  width: 1.25rem;
  height: 1.25rem;
}
.messages-icon {
  margin-left: 0.625rem;
}
.profile-info {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 2.188rem;
  height: 2.188rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 1.25rem;
}

.username {
  margin-left: 0.313rem;
}

a {
  text-decoration: none;
  color: black;
}
